.about {
    width: 100%;
    display: flex ; 
    justify-content: space-around;
    align-items: center;
    padding: 70px

}
.hello{
    height: 100%;
    width: 50%;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.hola {
    font-size: 2.5em;
    font-weight: 800;
}
.JB {
    color: #F7643B;
    margin-bottom: 3.2px;
    font-size: 4.5em;
    font-weight: 900;
}
.description {
    margin-bottom: 48px;
    font-size: 1.2em;
}
.about-imgsize {
    width: 500px;
    margin: 0px 50px 50px;
}

@media screen and (max-width: 1100px) {
    .about {
        padding: 0px;
        text-align: center;
        flex-direction: column;
    }
    .hello {
        margin: 80px 0px 60px 0px;
        align-items: center;
        width: auto;
    }
}
@media screen and (max-width: 600px){
    .about-imgsize {
        width: 350px;
    }
    .JB {
        font-size: 4em;
    }
}
@media screen and (max-width: 400px){
    .about-imgsize {
        width: 250px;
    }
    .JB {
        font-size: 3.5em;
    }
    .description {
        margin-bottom: 48px;
        margin-top: 15px;
        font-size: 1em;
    }

}