.contact-container {
    /*margin: 125px;*/
    padding: 30px;
    width: 88%;
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.box{
    /*border: 1px solid black;*/
    height: 85%;
    width: 50%;    
    justify-content: space-between;
    padding: 40px;
}
.contact-text{
    margin: 25px 0px 20px 0px;
}
.link-box {
    /*border: 1px solid black;*/
    font-size: 1.2em;
    margin-top: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    /*padding-top: 1px ; */  
}
.icon{
    /*border: 1px solid black;*/
    width: 40px;
    height: 40px;
    color: #F7643B;
    border-radius: 50px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;    
}
.link-box:hover .icon{
    background-color:#F7643B ;
    color: white;
    transition: all 0.3s;
    }
.link-box:hover {
    color: #F7643B;
}
.black-text {
    color: black;
}
.black-text:hover {
    color: #F7643B;
}