header {
    width: 100%;
    background-color: rgb(252, 252, 228);
    box-shadow: 0px 0px 9px 1px lightgrey;
    display: flex;    
    justify-content: center;
    position: fixed;
}
nav {
    width: 100%;
    max-width: 1100px;
    padding: 32px 0em;
    justify-content: flex-end;
}
li {
    margin: 0px 16px;
}
.button {
    padding: 8px;
}
.button:active {
    border-radius: 25px;
    box-shadow: 0px 0px 2px 2px #F7643B;
}
.coloranchor {
    color: #2e2e31;    
}
.coloranchor:hover {
    color: #F7643B;
    transition: 0.4s;    
}
.contactbutton:hover {
    background-color: #F7643B;
    opacity: 0.7;
    transition: 0.4s;
}

@media screen and (max-width: 1100px) {
    header{
        display: none;
    }    
}