.quote-icon{
    font-size: 4em;
}
.quote-text {
    font-size: 1.4em;
    font-weight: 600;
    padding-top: 32px;
    padding-bottom: 32px;
}
.author {
    padding-top: 2em;
    /*align-self: flex-end;*/    
}
@media screen and (max-width: 400px){
    .quote-text {
     font-size: 1em;
    }
    
 }