.quote-icon{
    font-size: 4em;
}
.quote-text {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 1.4em;
    font-weight: 600;
}
.author {
    padding-top: 2em;
    font-weight: 900;
       
}
@media screen and (max-width: 400px){
    .quote-text {
     font-size: 1em;
    } 
}