.section-about {
    width: 100%;
    padding: 80px;    
    justify-content: center;
    align-items: center;
}
.section-skills {
    width: 100%;
    background-color: #F6F7FB;
    padding: 64px;
    justify-content: center;
    align-items: center;
}
.section-quote {
    width: 100%;
    background-color: #F7643B;
    padding: 80px 208px 80px 208px;
    justify-content: center;
    align-items: center;
}
.section-projects{
    width: 100%;
    padding: 64px;
    justify-content: center;
    align-items: center;
}
.section-contact{
    width: 100%;
    background-color: #F6F7FB;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
@media screen and (max-width: 600px){
    .section-about {
    padding: 50px;
    }
    
}

@media screen and (max-width: 600px){
.section-skills {
    padding: 0px;
}

}
@media screen and (max-width: 600px){
    .section-projects {
    padding: 0px;
    }
    
}

@media screen and (max-width: 600px){
    .section-quote {
    padding: 20px 20px 20px 20px ;
    }
    
}
@media screen and (max-width: 600px){
    .section-contact {
    padding: 20px;
    }
    
}
