.skills {
    width: 37.5em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 3em;
}
.conocimientos{
    font-size: 3em;
    font-weight: 900;
}
.loremsize {
    font-size: 1em;
    padding: 2em 3.5em 0em 3.5em;
}

    

