.skillcards-container {
    /*border: 1px solid rgb(129, 117, 117);*/
    width: 75%;
    height: 640px; /* <-- !! */
    display: flex;
    flex-direction: row;
    padding: 32px;
    margin-top: 8px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill-cards {
    width: 28%;
    height: 40%;
    border: 0.3px solid lightgray;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-cards:hover {
    border: 0.3px solid #F7643B;
    color:#F7643B;
    transition: all 0.4s;
}
.iconcard {
    font-size: 5em;
    margin-bottom: 3.2px;
}
.htmlicon {
    color: #E54D26;
}
.cssicon {
    color: #3D8FC6;
}
.sassicon {
    color: #CC6699;
}
.javaicon {
    color: #F0DB4F;
}
.reacticon {
    color: #61DAFB;
}
.giticon{
    color: #F34F29;
}
